@import "../variables.scss";

.blog-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto 3em;

    a {
        text-decoration: none;
        color: $primary__color;
        margin-left: 1em;
        margin-right: 1em;
    }
  }