@import '../variables.scss';

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00111a;
    padding: 1em;
}

.copyright {
    text-align: center;
    color: #fff;
}
