@import '../variables.scss';

.header-container {
    display: flex;
    margin-bottom: 1.5em;
    padding: 0 4em;
}

.logo {
    font-size: 1.4em;
    color: $primary__color;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex: 1;
}

.navigation-bar-container {
    display: flex;
    width: 100%;
    flex: 2;

    .navigation-bar {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    a {
        text-decoration: none;
        color: #333;
        font-size: 1em;
        font-weight: 500;

        &:hover {
            color: $secondary__color;
        }
    }

    .navigation-item {
        list-style-type: none;
    }

}

.social-bar-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;

    > :not(:last-child) {
        margin-right: 1em;
    }
}