.header-container {
    display: flex;
}

.navigation-bar-container {
    display: flex;
    width: 100%;
    flex: 2;

    .navigation-bar {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    .navigation-item {
        list-style-type: none;
        font-size: 25px;
    }

}

.social-bar-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

