@import '../variables.scss';

$card__width: 400px;
$card__height: 420px;
$number-card__width: 50px;
$number-card__height: 50px;
$card__border-radius: 4px;

.story-section-container {
    width: 90%;
    position: relative;
    margin-top: -6em;
    margin-left: 2em;
}

.story-info-card {
    width: $card__width;
    height: $card__height;
    padding: 2em;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    border-radius: $card__border-radius;
    margin-left: 2em;
}

.story-title {
    width: 80%;
    font-size: 3.2em;
    font-weight: 500;
    margin-bottom: 0.8em;
}

.story-cta-btn {
    position: absolute;
    bottom: 30px;
    right: -30px;
    border-radius: $card__border-radius;
}

.story-image {
    position: absolute;
    width: 100%;
    top: 50px;
    margin: auto;
    z-index: -1;
}

.story-index-counter {
    width: $number-card__width;
    height: $number-card__height;
    font-size: 2.5em;
    font-weight: 500;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -25px;
    top: 150px;
    color: #fff;
    background: $secondary__color;
    border-radius: $card__border-radius;
}
